<template>
  <div class="Footer">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="panel-heading" style="bottom: 0px">
            <h5>Copyright © 2060 DM</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Footer',
  data () {
    return {

    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->

<style scoped>

</style>
