<template>
  <div class="Header">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>Inspiring Examples of Blogs In 2019
          </h3>
        </div>
        <div class="panel-body">
            <img class="header_item header_icon" src="../assets/header_image.png" height="350">
          </div>

        </div>
      </div>
    </div>
</template>

<script>
export default {
  name: 'Header',
  data () {
    return {

    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->

<style scoped>
h3{
  color: #499898;
}
</style>
