<template>
  <!--eslint-disable-->
  <div class="hello">
          <div class="col-md-12" v-for="post in posts"  v-bind:id="post.ID" v-on:click="get_signle_posts(post.ID)">
            <div class=" panel panel-default">
              <div class="panel-heading">
                <h4 v-text="post.title">
                </h4>
              </div>
              <div class="panel-body" title="Details">
                <div style="float: left;"  class="col-md-6">
                  <img :src="post.post_thumbnail.URL" height="200" width="250" v-bind:id="post.post_thumbnail.ID">
                </div>
                <div class="col-md-6 details" style="float: right">
                  <p v-text="get_text(post.excerpt)"></p>
                  <p  class="publish">Published : {{ post.date | moment("from") }}</p>
                </div>

              </div>
            </div>
          </div>

  </div>
</template>

<script>/* eslint-disable */
  import Vue from 'vue'
  import VueMoment from 'vue-moment'
  import moment from 'moment-timezone'
  Vue.use(VueMoment, {
    moment,
  });
export default {
  name: 'Posts',
  components: {
  },
  props :{
    posts :{}
  },
  data () {
    return {
    }
  },
  watch : {
    posts : function () {
      console.log('postdata',this.posts)
    }
  },
  mounted () {

  },
  methods:{
    get_text: function (text) {
      var str1 = text.replace("<p>", "");
      var str2 = str1.replace("</p>", "");
      var str3 = str2.replace("@", "");
      var st4 = str3.replace("<span>", "");
      var str5 = st4.replace("</span>", "");
      return str5;
    },
    get_signle_posts : function (item) {
      this.$emit('single_posts', item)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->

<style scoped>
.publish{
  float: right;
  font-size: 13px;
  font-weight: 600;
  color: #499898;
}
  .details{
    margin: auto;
    display: block;
  }
  .panel{
    cursor: pointer;
  }
  h4{
    color: #499898;
  }
</style>
