<template>
  <div class="Sidebar">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>Categories</h3>
        </div>
        <div class="panel-body">
          <!--eslint-disable-next-line-->
          <ul class="list-group" v-for="category in categories ">
            <li class="list-group-item sidebar_cat" v-on:click="get_category_posts(category)" v-text="get_name(category.name)"></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>/* eslint-disable */
  import Vue from 'vue'
export default {
  name: 'Sidebar',
  props :{
    posts :{}
  },
  data () {
    return {
      categories :{},
    }
  },
  watch : {
    posts : function () {
      console.log('postdata',this.posts)
    }
  },
  mounted(){
    this.get_category_lists();
  },

  methods :{

    post_details : function (data) {
      console.log("post_details",data)
    },
    get_category_lists : function () {
      axios.get('https://public-api.wordpress.com/rest/v1/sites/107403796/categories/').then(response => {
        Vue.set(this, "categories", response.data.categories)
        this.$emit('categories', this.categories)
      })
    },

    get_category_posts : function (category) {
      axios.get('https://public-api.wordpress.com/rest/v1.1/sites/107403796/categories/slug:'+category.slug).then(response => {
        for (var i = 0; i < this.posts.length; i++) {
         var cats = Object.values(this.posts[i].categories);
          if(cats){
            for (var j = 0; j < cats.length; j++) {
              if(cats[j].slug == category.slug){
                this.$parent.single_posts(this.posts[i].ID)
              }
            }

          }
        }
      })
      // this.$parent.single_posts(slug)
      },

    get_name : function (name) {
      var sidebar_name = name.replace("@", "");
      var name = name.replace("#", "");
      return name;
    }

  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->

<style scoped>
h3{
  color: #499898;
}
.sidebar_cat{
  color: #499898;
}
</style>
