<template>
    <div class="SinglePost">
        <div class="col-md-12" v-bind:id="single_post.ID">
            <div class=" panel panel-default">
                <div class="panel-heading">
                    <h4 v-text="single_post.title">
                    </h4>
                </div>
                <div class="panel-body">
                    <div><img :src="single_post.featured_image" height="300" width="500"></div>
                    <p v-text="get_text_data(single_post.content)" class="content"></p>
                    <p class="publish">Published : {{ single_post.date | moment('from') }}</p>
                </div>

                <div class="btn btn-primary backToHome" v-on:click="backToHome()">Back To Home</div>
            </div>
        </div>
    </div>
</template>

<script>/* eslint-disable */
export default {
  name: 'SinglePost',

  props: {
    posts: {},
    single_post: {}
  },
  data () {
    return {
      related_post: {}
    }
  },
  watch: {
    posts: function () {

    },
  },
  methods: {
    post_details: function (data) {
      console.log('post_details', data)
    },
    get_text_data: function (text) {
      var str1 = text.replace(/<[^>]+>/g, '')
      return str1
    },

    backToHome: function () {
      this.$emit('home')
    },

  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->

<style scoped>
    .publish {
        float: right;
        font-size: 13px;
        font-weight: 600;
        color: #499898;
    }

    h4 {
        color: #499898;
    }

    .content {
        word-break: break-all;
        margin-top: 13px;

    }

    .backToHome {
        background-color: #499898;
        float: left;
        margin-top: 3px
    }
</style>
