<template>
    <div class="Sidebar">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3> Tags</h3>
                </div>
                <div class="panel-body">
                    <!--eslint-disable-next-line-->
                    <ul class="list-group" v-for="tag in tags ">
                        <li class="list-group-item sidebar_tag" v-on:click="get_tag_posts(tag)"
                            v-text="get_name(tag.name)"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<script>/* eslint-disable */
import Vue from 'vue'

export default {
  name: 'Sidebar',
  props: {
    posts: {}
  },
  data () {
    return {
      tags: {},
    }
  },
  watch: {
    posts: function () {
      console.log('postdata', this.posts)
    }
  },
  mounted () {
    this.get_tag_lists()
  },

  methods: {
    post_details: function (data) {
      console.log('post_details', data)
    },

    get_tag_lists: function () {
      axios.get('https://public-api.wordpress.com/rest/v1.1/sites/107403796/tags').then(response => {
        Vue.set(this, 'tags', response.data.tags)
        console.log('tags', response.data.tags)
        // this.$emit('categories', this.categories)
      })
    },
    get_tag_posts: function (tag) {
      axios.get('https://public-api.wordpress.com/rest/v1.1/sites/107403796/tags/slug:' + tag.slug).then(response => {

        for (var i = 0; i < this.posts.length; i++) {
          var tags = Object.values(this.posts[i].tags)
          if (tags) {
            for (var j = 0; j < tags.length; j++) {
              if (tags[j].slug == tag.slug) {
                this.$parent.single_posts(this.posts[i].ID)
              }
            }

          }
        }
      })
      // this.$parent.single_posts(slug)
    },
    get_name: function (name) {
      var sidebar_name = name.replace('@', '')
      var name = name.replace('#', '')
      return name
    }

  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->

<style scoped>
    h3 {
        color: #499898;
    }

    .sidebar_tag {
        color: #499898;
    }
</style>
