<template>
    <div id="app" style="margin-top: 0.5px">
        <Header></Header>
        <div class="col-md-3">
            <Sidebar v-bind:posts="posts"></Sidebar>
        </div>
        <div class="col-md-6">
            <router-view
                    v-bind:posts="posts"
                    @single_posts="single_posts" v-if="!single_post_show"

            />
            <SinglePost v-bind:posts="posts" v-bind:single_post="single_post" v-if="single_post_show"
                        @home="home"></SinglePost>
        </div>
        <div class="col-md-3">
            <Tag v-bind:posts="posts"></Tag>
        </div>
        <Footer></Footer>
    </div>
</template>
<script>/* eslint-disable */
import './style/kite.css'

// Vue.component('Header', require('./components/Header.vue'));
// import Header from './components/Header.vue'
Vue.component("Header", () => import("./components/Header"));
// import Sidebar from '../src/components/Sidebar'
// import Footer from '../src/components/Footer'
// import SinglePost from '../src/components/SinglePost'
// import Tag from '../src/components/Tag'

window.axios = require('axios');
import Vue from 'vue'

export default {
  name: 'App',
  components: {
    Header,
  },
  data () {
    return {
      posts: {},
      single_post: {},
      single_post_show: false,
    }
  },

  mounted () {
    this.get_posts()
  },
  methods: {
    get_posts: function () {
      axios.get('https://public-api.wordpress.com/rest/v1/sites/107403796/posts/').then(response => {
        Vue.set(this, 'posts', response.data.posts)
        console.log('hssh', this.posts)
        this.$emit('post_details', this.posts)
      })
    },

    single_posts: function (post_id) {
      axios.get('https://public-api.wordpress.com/rest/v1/sites/107403796/posts/' + post_id).then(response => {
        Vue.set(this, 'single_post', response.data)
        Vue.set(this, 'single_post_show', true)
        if (response.data) {
          console.log("data")
          var xhr = new XMLHttpRequest();
          xhr.open('POST', 'https://public-api.wordpress.com/rest/v1.1/sites/107403796/posts/'+response.data.ID+'/related', true);
          xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
          xhr.onload = function () {
            // do something to response
            console.log(this.responseText)
          }
        }
      })
    },
    home: function () {

      Vue.set(this, 'single_post_show', false)
    }
  }
}
</script>

<style>
    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-top: 60px;
    }
</style>
